<h1>ALL TASKS</h1>
<h2>List Goes Here :</h2>
<p>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <h3><strong><%= task.title %></strong></h3>
        <p><em><%= task.description %></em></p>
        <p>Completed: <%= task.completed ? 'Yes' : 'No' %>
           <%= link_to check_box_tag(
             :tasks, :complete, task.completed
             ), "/tasks/#{task.id}/complete/#{!task.completed}" %>
        </p>

        <%= link_to 'Edit', edit_task_path(task.id) %>
        <%= link_to 'Delete', task, method: :delete %>
        <%= link_to 'Show', task_path(task) %>
      </li>


    <% end %></p>
</ul>
<p><%= link_to 'Create a new To Do', new_task_path %></p>
