<h1>Tasks#new</h1>
<p>
  <%= form_for @task do |f|  %>
    <%= f.label 'Title :' %><br>
    <%= f.text_field :title %><br>
    <br>

    <%= f.label 'Description :' %><br>
    <%= f.text_area :description  %><br>

    <%= f.submit 'Submit' %>

  <% end %>

</p>
